/*滑鼠移過的效果*/
.item:hover {
  background-color: #FDF5E6;
}

/* tweets 頁面的 CSS */
.card {
  border: 1px, solid,black;
  border-radius: 10px;
}

.button-as-link{
  background: none!important;
  border: none;
  padding: 0!important;
  color:red;
  cursor: pointer;
}

.button-as-link:hover {
  text-decoration: underline;
}