/* --- Default  --- */
body {
  background-color: #15202b;
  font-family: 'Archivo', sans-serif;
}

a {
  color: #1ea1f2;
}

a:hover {
  text-decoration: none;
}

h1,
h3,
h4 {
  font-family: 'Paytone One', sans-serif;
  color: #fff;
}

.btn-round {
  font-family: 'Paytone One', sans-serif;
  text-align: center;
  border-radius: 20px;
  color: #1ea1f2;
  border: 2px solid #1ea1f2;
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: -1px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
}

.frame {
  padding: 0;
  width: 100%;
}

.time-text {
  font-size: 10px;
  color: #9197a3;
}
.item:hover {
  background-color: #182531;
}

.user-item:hover {
  background-color: #223344;
}

/* --- main. navbar  --- */
#tweet-navbar {
  background-color: #223344;
}

#tweet-navbar > a {
  color: #fff;
  font-family: 'Pacifico', cursive;
}

#tweet-navbar > a > img {
  width: 25px;
  margin-bottom: 8px;
}

.hi {
  color: #fff;
}

.navbar-menu {
  color: #fff;
}

.dropdown-menu {
  background-color: #223344;
}

.dropdown-item {
  color: #1ea1f2;
}

/* --- Sign up --- */
.form-signin {
  max-width: 350px;
}

/* --- tweets --- */
.head-title {
  width: 100%;
  border: 1px solid #223344;
  padding: 20px 0 5px 20px;
}

.comment-label,
#comment-input {
  background-color: #15202b;
  border: none;
}

.comment {
  border: 1px solid #223344;
  border-bottom: 25px solid #223344;
}

/* --- tweet card --- */
.tweet-card {
  border: 1px solid #223344;
}

.tweet-card-icon {
  color: #5480ab;
  background-color: #15202b;
  border: none;
}

/* --- top users--- */
.top-title {
  width: 100%;
  border-radius: 25px 25px 0 0 !important;
  border-bottom: 2px solid #436689;
  background-color: #192633;
}

.top-title:hover,
.more:hover {
  background-color: #192633;
}

.more {
  width: 100%;
  color: #1ea1f2;
  font-weight: bold;
  background-color: #192633;
  border-radius: 0 0 25px 25px !important;
}

/* --- user card --- */
.user-card {
  width: 100%;
  border-bottom: 2px solid #436689;
  background-color: #192633;
}

.user-img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  object-fit: cover;
}

/* --- profile --- */
.box {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-text {
  color: #1ea1f2;
}

.profile-badge {
  background-color: #436689;
}

/* --- reply card --- */
.reply-card {
  background-color: #192633;
}

/* --- follow user card --- */

.follow-card {
  border-radius: 10px;
  background-color: #192633;
}

.follow-badge {
  margin-top: -5px;
  background-color: #1ea1f2;
}
